script(src='/app/js/flickity.min.js')
script(src='/app/js/easypiechart.min.js')
script(src='/app/js/parallax.js')
script(src='/app/js/typed.min.js')
script(src='/app/js/datepicker.js')
script(src='/app/js/isotope.min.js')
script(src='/app/js/ytplayer.min.js')
script(src='/app/js/lightbox.min.js')
script(src='/app/js/granim.min.js')
script(src='/app/js/countdown.min.js')
script(src='/app/js/twitterfetcher.min.js')
script(src='/app/js/spectragram.min.js')
script(src='/app/js/smooth-scroll.min.js')
script(src='/app/js/scripts.js')
