.nav-container
  .bar.bar--sm.visible-xs
    .container
      .row
        .col-xs-3.col-sm-2
          a(href='/')
            img.logo.logo-dark(alt='logo', src='/app/images/logo-dark.png')
            img.logo.logo-light(alt='logo', src='/app/images/logo-light.png')
        .col-xs-9.col-sm-10.text-right
          a.hamburger-toggle(href='#', data-toggle-class='#menu1;hidden-xs')
            i.icon.icon--sm.stack-interface.stack-menu
      // end of row
    // end of container
  // end bar
  nav#menu1.bar.bar--sm.bar-1.hidden-xs.hiddem-sm
    .container
      .row
        .col-md-1.col-sm-2.hidden-xs
          .bar__module
            a(href='/')
              img.logo.logo-dark(alt='logo', src='/app/images/logo-dark.png')
              img.logo.logo-light(alt='logo', src='/app/images/logo-light.png')
          // end module
        .col-md-11.col-sm-12.text-right.text-left-xs.text-left-sm
          .bar__module

          // end module
          .bar__module
            a.btn.btn--sm.type--uppercase(href='/login')
              span.btn__text
                | Login
            a.btn.btn--sm.btn--primary.type--uppercase(href='/signup')
              span.btn__text
                | Create Account
          // end module
      // end of row
    // end of container
  // end bar
