extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	include ../parts/index_head
	include ../parts/index_nav
	section
		.container
			.row
				include ../parts/forgot

block scripts
	script(src='/app/frontend.js')
	script(src='/app/js/jquery-3.1.1.min.js')
	script(src='/app/js/smooth-scroll.min.js')
	script(src='/app/js/scripts.js')
